@charset "utf-8";
#slides {
	position: absolute;
	z-index: 1;
	width:712px;
	height:330px;
}
.slides_container {
	width: 712px;
	height:330px;
	overflow: hidden;
	position: relative;
	display: none;
}
.slides_container a {
	width: 712px;
	height: 330px;
	display: block;
}
.slidesjs-pagination {
	position: absolute;
	bottom:0;
	z-index: 999;
	padding: 0 10px;
	padding-top: 3px;
	margin-left: 47%;	
	border-radius: 10px; 
	width: 72px;
	height: 14px;
}
.slidesjs-pagination li {
	float: left;
	margin: 0 4px;
}
.slidesjs-pagination li a {
	display: block;
	width: 13px;
	height: 0;
	padding-top: 13px;
	background: url(../images/pagination.png) 0 0;
	float: left;
	overflow: hidden;
}

    .slidesjs-pagination li a.active,
    .slidesjs-pagination li a:hover.active {
      background-position: 0 -13px
    }

    .slidesjs-pagination li a:hover {
      background-position: 0 -26px
    }

